SAP Sales Cloud/CallidusCloud CPQ API.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webcominc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://webcominc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webcominc.com/">
      <s:element name="doUSeeMe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doUSeeMeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doUSeeMeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCartProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyStrongNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCartPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCartPropertiesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCartProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erpId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCartPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setCartPropertiesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCartItemProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erpId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlDocument" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="revNum" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCartItemPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setCartItemPropertiesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCartPropertiesForEveryQuoteInOpportunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opportunityId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCartPropertiesForEveryQuoteInOpportunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setCartPropertiesForEveryQuoteInOpportunityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItemsData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erpId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItemsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddItemsDataResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="performCartAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erpId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="performCartActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="performCartActionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActionListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="placeOrderXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceOrderResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCatalogueCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codes">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCatalogueCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateCatalogueCodesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestForQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestForQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestForQuotationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewQuoteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuoteForFederation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="idpName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuoteForFederationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewQuoteForFederationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuoteForFederationRouting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="idpRoutingName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuoteForFederationRoutingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewQuoteForFederationRoutingResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuoteFromSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sfAPIUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newQuoteXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewQuoteFromSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewQuoteFromSFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LinkOpportunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LinkOpportunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LinkOpportunityResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerAdministration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerAdministrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerAdministrationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteField">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quoteNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quoteField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteFieldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuoteFieldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="performQuoteAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erpId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="performQuoteActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="performQuoteActionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="performQuoteActionFromSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compositeCartId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opportunityId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="performQuoteActionFromSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="performQuoteActionFromSFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cartCompositeNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="revNum" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuoteDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteItemsAttributes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cartCompositeNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="revNum" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeNames" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="getAllAttributes" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteItemsAttributesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuoteItemsAttributesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCatalogue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCatalogueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCatalogueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpsertProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertProjectFromSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertProjectFromSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpsertProjectFromSFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewQuoteAndGetQuoteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inputXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewQuoteAndGetQuoteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewQuoteAndGetQuoteDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchQuotes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchCriteriaXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchQuotesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchQuotesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchQuotesFromSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SFSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SFApiUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchCriteriaXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchQuotesFromSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchQuotesFromSFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRevisions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quoteCompositeNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRevisionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRevisionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doUSeeMeSoapIn">
    <wsdl:part name="parameters" element="tns:doUSeeMe" />
  </wsdl:message>
  <wsdl:message name="doUSeeMeSoapOut">
    <wsdl:part name="parameters" element="tns:doUSeeMeResponse" />
  </wsdl:message>
  <wsdl:message name="getCartPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:getCartProperties" />
  </wsdl:message>
  <wsdl:message name="getCartPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:getCartPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="setCartPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:setCartProperties" />
  </wsdl:message>
  <wsdl:message name="setCartPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:setCartPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="setCartItemPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:setCartItemProperties" />
  </wsdl:message>
  <wsdl:message name="setCartItemPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:setCartItemPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="setCartPropertiesForEveryQuoteInOpportunitySoapIn">
    <wsdl:part name="parameters" element="tns:setCartPropertiesForEveryQuoteInOpportunity" />
  </wsdl:message>
  <wsdl:message name="setCartPropertiesForEveryQuoteInOpportunitySoapOut">
    <wsdl:part name="parameters" element="tns:setCartPropertiesForEveryQuoteInOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="AddItemsDataSoapIn">
    <wsdl:part name="parameters" element="tns:AddItemsData" />
  </wsdl:message>
  <wsdl:message name="AddItemsDataSoapOut">
    <wsdl:part name="parameters" element="tns:AddItemsDataResponse" />
  </wsdl:message>
  <wsdl:message name="performCartActionSoapIn">
    <wsdl:part name="parameters" element="tns:performCartAction" />
  </wsdl:message>
  <wsdl:message name="performCartActionSoapOut">
    <wsdl:part name="parameters" element="tns:performCartActionResponse" />
  </wsdl:message>
  <wsdl:message name="getActionListSoapIn">
    <wsdl:part name="parameters" element="tns:getActionList" />
  </wsdl:message>
  <wsdl:message name="getActionListSoapOut">
    <wsdl:part name="parameters" element="tns:getActionListResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCatalogueCodesSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCatalogueCodes" />
  </wsdl:message>
  <wsdl:message name="ValidateCatalogueCodesSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCatalogueCodesResponse" />
  </wsdl:message>
  <wsdl:message name="RequestForQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:RequestForQuotation" />
  </wsdl:message>
  <wsdl:message name="RequestForQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:RequestForQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="NewQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:NewQuote" />
  </wsdl:message>
  <wsdl:message name="NewQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:NewQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="NewQuoteForFederationSoapIn">
    <wsdl:part name="parameters" element="tns:NewQuoteForFederation" />
  </wsdl:message>
  <wsdl:message name="NewQuoteForFederationSoapOut">
    <wsdl:part name="parameters" element="tns:NewQuoteForFederationResponse" />
  </wsdl:message>
  <wsdl:message name="NewQuoteForFederationRoutingSoapIn">
    <wsdl:part name="parameters" element="tns:NewQuoteForFederationRouting" />
  </wsdl:message>
  <wsdl:message name="NewQuoteForFederationRoutingSoapOut">
    <wsdl:part name="parameters" element="tns:NewQuoteForFederationRoutingResponse" />
  </wsdl:message>
  <wsdl:message name="NewQuoteFromSFSoapIn">
    <wsdl:part name="parameters" element="tns:NewQuoteFromSF" />
  </wsdl:message>
  <wsdl:message name="NewQuoteFromSFSoapOut">
    <wsdl:part name="parameters" element="tns:NewQuoteFromSFResponse" />
  </wsdl:message>
  <wsdl:message name="LinkOpportunitySoapIn">
    <wsdl:part name="parameters" element="tns:LinkOpportunity" />
  </wsdl:message>
  <wsdl:message name="LinkOpportunitySoapOut">
    <wsdl:part name="parameters" element="tns:LinkOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerAdministrationSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerAdministration" />
  </wsdl:message>
  <wsdl:message name="CustomerAdministrationSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerAdministrationResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuoteFieldSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuoteField" />
  </wsdl:message>
  <wsdl:message name="GetQuoteFieldSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuoteFieldResponse" />
  </wsdl:message>
  <wsdl:message name="performQuoteActionSoapIn">
    <wsdl:part name="parameters" element="tns:performQuoteAction" />
  </wsdl:message>
  <wsdl:message name="performQuoteActionSoapOut">
    <wsdl:part name="parameters" element="tns:performQuoteActionResponse" />
  </wsdl:message>
  <wsdl:message name="performQuoteActionFromSFSoapIn">
    <wsdl:part name="parameters" element="tns:performQuoteActionFromSF" />
  </wsdl:message>
  <wsdl:message name="performQuoteActionFromSFSoapOut">
    <wsdl:part name="parameters" element="tns:performQuoteActionFromSFResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuoteData" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuoteDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuoteItemsAttributesSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuoteItemsAttributes" />
  </wsdl:message>
  <wsdl:message name="GetQuoteItemsAttributesSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuoteItemsAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCatalogueSoapIn">
    <wsdl:part name="parameters" element="tns:GetCatalogue" />
  </wsdl:message>
  <wsdl:message name="GetCatalogueSoapOut">
    <wsdl:part name="parameters" element="tns:GetCatalogueResponse" />
  </wsdl:message>
  <wsdl:message name="UpsertProjectSoapIn">
    <wsdl:part name="parameters" element="tns:UpsertProject" />
  </wsdl:message>
  <wsdl:message name="UpsertProjectSoapOut">
    <wsdl:part name="parameters" element="tns:UpsertProjectResponse" />
  </wsdl:message>
  <wsdl:message name="UpsertProjectFromSFSoapIn">
    <wsdl:part name="parameters" element="tns:UpsertProjectFromSF" />
  </wsdl:message>
  <wsdl:message name="UpsertProjectFromSFSoapOut">
    <wsdl:part name="parameters" element="tns:UpsertProjectFromSFResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewQuoteAndGetQuoteDataSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewQuoteAndGetQuoteData" />
  </wsdl:message>
  <wsdl:message name="CreateNewQuoteAndGetQuoteDataSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewQuoteAndGetQuoteDataResponse" />
  </wsdl:message>
  <wsdl:message name="SearchQuotesSoapIn">
    <wsdl:part name="parameters" element="tns:SearchQuotes" />
  </wsdl:message>
  <wsdl:message name="SearchQuotesSoapOut">
    <wsdl:part name="parameters" element="tns:SearchQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="SearchQuotesFromSFSoapIn">
    <wsdl:part name="parameters" element="tns:SearchQuotesFromSF" />
  </wsdl:message>
  <wsdl:message name="SearchQuotesFromSFSoapOut">
    <wsdl:part name="parameters" element="tns:SearchQuotesFromSFResponse" />
  </wsdl:message>
  <wsdl:message name="GetRevisionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRevisions" />
  </wsdl:message>
  <wsdl:message name="GetRevisionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRevisionsResponse" />
  </wsdl:message>
  <wsdl:portType name="CpqApiSoap">
    <wsdl:operation name="doUSeeMe">
      <wsdl:input message="tns:doUSeeMeSoapIn" />
      <wsdl:output message="tns:doUSeeMeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCartProperties">
      <wsdl:input message="tns:getCartPropertiesSoapIn" />
      <wsdl:output message="tns:getCartPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setCartProperties">
      <wsdl:input message="tns:setCartPropertiesSoapIn" />
      <wsdl:output message="tns:setCartPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setCartItemProperties">
      <wsdl:input message="tns:setCartItemPropertiesSoapIn" />
      <wsdl:output message="tns:setCartItemPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setCartPropertiesForEveryQuoteInOpportunity">
      <wsdl:input message="tns:setCartPropertiesForEveryQuoteInOpportunitySoapIn" />
      <wsdl:output message="tns:setCartPropertiesForEveryQuoteInOpportunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddItemsData">
      <wsdl:input message="tns:AddItemsDataSoapIn" />
      <wsdl:output message="tns:AddItemsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="performCartAction">
      <wsdl:input message="tns:performCartActionSoapIn" />
      <wsdl:output message="tns:performCartActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActionList">
      <wsdl:input message="tns:getActionListSoapIn" />
      <wsdl:output message="tns:getActionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderSoapIn" />
      <wsdl:output message="tns:PlaceOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCatalogueCodes">
      <wsdl:input message="tns:ValidateCatalogueCodesSoapIn" />
      <wsdl:output message="tns:ValidateCatalogueCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestForQuotation">
      <wsdl:input message="tns:RequestForQuotationSoapIn" />
      <wsdl:output message="tns:RequestForQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewQuote">
      <wsdl:input message="tns:NewQuoteSoapIn" />
      <wsdl:output message="tns:NewQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewQuoteForFederation">
      <wsdl:input message="tns:NewQuoteForFederationSoapIn" />
      <wsdl:output message="tns:NewQuoteForFederationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewQuoteForFederationRouting">
      <wsdl:input message="tns:NewQuoteForFederationRoutingSoapIn" />
      <wsdl:output message="tns:NewQuoteForFederationRoutingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewQuoteFromSF">
      <wsdl:input message="tns:NewQuoteFromSFSoapIn" />
      <wsdl:output message="tns:NewQuoteFromSFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LinkOpportunity">
      <wsdl:input message="tns:LinkOpportunitySoapIn" />
      <wsdl:output message="tns:LinkOpportunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAdministration">
      <wsdl:input message="tns:CustomerAdministrationSoapIn" />
      <wsdl:output message="tns:CustomerAdministrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteField">
      <wsdl:input message="tns:GetQuoteFieldSoapIn" />
      <wsdl:output message="tns:GetQuoteFieldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="performQuoteAction">
      <wsdl:input message="tns:performQuoteActionSoapIn" />
      <wsdl:output message="tns:performQuoteActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="performQuoteActionFromSF">
      <wsdl:input message="tns:performQuoteActionFromSFSoapIn" />
      <wsdl:output message="tns:performQuoteActionFromSFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteData">
      <wsdl:input message="tns:GetQuoteDataSoapIn" />
      <wsdl:output message="tns:GetQuoteDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteItemsAttributes">
      <wsdl:input message="tns:GetQuoteItemsAttributesSoapIn" />
      <wsdl:output message="tns:GetQuoteItemsAttributesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogue">
      <wsdl:input message="tns:GetCatalogueSoapIn" />
      <wsdl:output message="tns:GetCatalogueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpsertProject">
      <wsdl:input message="tns:UpsertProjectSoapIn" />
      <wsdl:output message="tns:UpsertProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpsertProjectFromSF">
      <wsdl:input message="tns:UpsertProjectFromSFSoapIn" />
      <wsdl:output message="tns:UpsertProjectFromSFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewQuoteAndGetQuoteData">
      <wsdl:input message="tns:CreateNewQuoteAndGetQuoteDataSoapIn" />
      <wsdl:output message="tns:CreateNewQuoteAndGetQuoteDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchQuotes">
      <wsdl:input message="tns:SearchQuotesSoapIn" />
      <wsdl:output message="tns:SearchQuotesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchQuotesFromSF">
      <wsdl:input message="tns:SearchQuotesFromSFSoapIn" />
      <wsdl:output message="tns:SearchQuotesFromSFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRevisions">
      <wsdl:input message="tns:GetRevisionsSoapIn" />
      <wsdl:output message="tns:GetRevisionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CpqApiSoap" type="tns:CpqApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doUSeeMe">
      <soap:operation soapAction="http://webcominc.com/doUSeeMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartProperties">
      <soap:operation soapAction="http://webcominc.com/getCartProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCartProperties">
      <soap:operation soapAction="http://webcominc.com/setCartProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCartItemProperties">
      <soap:operation soapAction="http://webcominc.com/setCartItemProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCartPropertiesForEveryQuoteInOpportunity">
      <soap:operation soapAction="http://webcominc.com/setCartPropertiesForEveryQuoteInOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItemsData">
      <soap:operation soapAction="http://webcominc.com/AddItemsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performCartAction">
      <soap:operation soapAction="http://webcominc.com/performCartAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActionList">
      <soap:operation soapAction="http://webcominc.com/getActionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://webcominc.com/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCatalogueCodes">
      <soap:operation soapAction="http://webcominc.com/ValidateCatalogueCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestForQuotation">
      <soap:operation soapAction="http://webcominc.com/RequestForQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuote">
      <soap:operation soapAction="http://webcominc.com/NewQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuoteForFederation">
      <soap:operation soapAction="http://webcominc.com/NewQuoteForFederation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuoteForFederationRouting">
      <soap:operation soapAction="http://webcominc.com/NewQuoteForFederationRouting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuoteFromSF">
      <soap:operation soapAction="http://webcominc.com/NewQuoteFromSF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkOpportunity">
      <soap:operation soapAction="http://webcominc.com/LinkOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAdministration">
      <soap:operation soapAction="http://webcominc.com/CustomerAdministration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteField">
      <soap:operation soapAction="http://webcominc.com/GetQuoteField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performQuoteAction">
      <soap:operation soapAction="http://webcominc.com/performQuoteAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performQuoteActionFromSF">
      <soap:operation soapAction="http://webcominc.com/performQuoteActionFromSF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteData">
      <soap:operation soapAction="http://webcominc.com/GetQuoteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteItemsAttributes">
      <soap:operation soapAction="http://webcominc.com/GetQuoteItemsAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogue">
      <soap:operation soapAction="http://webcominc.com/GetCatalogue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertProject">
      <soap:operation soapAction="http://webcominc.com/UpsertProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertProjectFromSF">
      <soap:operation soapAction="http://webcominc.com/UpsertProjectFromSF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewQuoteAndGetQuoteData">
      <soap:operation soapAction="http://webcominc.com/CreateNewQuoteAndGetQuoteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQuotes">
      <soap:operation soapAction="http://webcominc.com/SearchQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQuotesFromSF">
      <soap:operation soapAction="http://webcominc.com/SearchQuotesFromSF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevisions">
      <soap:operation soapAction="http://webcominc.com/GetRevisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CpqApiSoap12" type="tns:CpqApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doUSeeMe">
      <soap12:operation soapAction="http://webcominc.com/doUSeeMe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartProperties">
      <soap12:operation soapAction="http://webcominc.com/getCartProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCartProperties">
      <soap12:operation soapAction="http://webcominc.com/setCartProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCartItemProperties">
      <soap12:operation soapAction="http://webcominc.com/setCartItemProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCartPropertiesForEveryQuoteInOpportunity">
      <soap12:operation soapAction="http://webcominc.com/setCartPropertiesForEveryQuoteInOpportunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItemsData">
      <soap12:operation soapAction="http://webcominc.com/AddItemsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performCartAction">
      <soap12:operation soapAction="http://webcominc.com/performCartAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActionList">
      <soap12:operation soapAction="http://webcominc.com/getActionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://webcominc.com/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCatalogueCodes">
      <soap12:operation soapAction="http://webcominc.com/ValidateCatalogueCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestForQuotation">
      <soap12:operation soapAction="http://webcominc.com/RequestForQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuote">
      <soap12:operation soapAction="http://webcominc.com/NewQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuoteForFederation">
      <soap12:operation soapAction="http://webcominc.com/NewQuoteForFederation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuoteForFederationRouting">
      <soap12:operation soapAction="http://webcominc.com/NewQuoteForFederationRouting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewQuoteFromSF">
      <soap12:operation soapAction="http://webcominc.com/NewQuoteFromSF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkOpportunity">
      <soap12:operation soapAction="http://webcominc.com/LinkOpportunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAdministration">
      <soap12:operation soapAction="http://webcominc.com/CustomerAdministration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteField">
      <soap12:operation soapAction="http://webcominc.com/GetQuoteField" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performQuoteAction">
      <soap12:operation soapAction="http://webcominc.com/performQuoteAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performQuoteActionFromSF">
      <soap12:operation soapAction="http://webcominc.com/performQuoteActionFromSF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteData">
      <soap12:operation soapAction="http://webcominc.com/GetQuoteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteItemsAttributes">
      <soap12:operation soapAction="http://webcominc.com/GetQuoteItemsAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogue">
      <soap12:operation soapAction="http://webcominc.com/GetCatalogue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertProject">
      <soap12:operation soapAction="http://webcominc.com/UpsertProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertProjectFromSF">
      <soap12:operation soapAction="http://webcominc.com/UpsertProjectFromSF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewQuoteAndGetQuoteData">
      <soap12:operation soapAction="http://webcominc.com/CreateNewQuoteAndGetQuoteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQuotes">
      <soap12:operation soapAction="http://webcominc.com/SearchQuotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQuotesFromSF">
      <soap12:operation soapAction="http://webcominc.com/SearchQuotesFromSF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevisions">
      <soap12:operation soapAction="http://webcominc.com/GetRevisions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CpqApi">
    <wsdl:port name="CpqApiSoap" binding="tns:CpqApiSoap">
      <soap:address location="https://www.webcomcpq.com/wsAPI/CPQAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CpqApiSoap12" binding="tns:CpqApiSoap12">
      <soap12:address location="https://www.webcomcpq.com/wsAPI/CPQAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>