SAP Sales Cloud/CallidusCloud Admin API.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webcominc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://webcominc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webcominc.com/">
      <s:element name="doUSeeMe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doUSeeMeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doUSeeMeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAdministration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNameAtDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAdministrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserAdministrationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyAdministration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userNameAtDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyAdministrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyAdministrationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUXTableAdministration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUXTableAdministrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AUXTableAdministrationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleProductAdministration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleProductAdministrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SimpleProductAdministrationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportMaterialsFromERP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportMaterialsFromERPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportMaterialsFromERPResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertPricebook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pricebookCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertPricebookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpsertPricebookResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertPricebookWithDistributionChain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="distributionChain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpsertPricebookWithDistributionChainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpsertPricebookWithDistributionChainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doUSeeMeSoapIn">
    <wsdl:part name="parameters" element="tns:doUSeeMe" />
  </wsdl:message>
  <wsdl:message name="doUSeeMeSoapOut">
    <wsdl:part name="parameters" element="tns:doUSeeMeResponse" />
  </wsdl:message>
  <wsdl:message name="UserAdministrationSoapIn">
    <wsdl:part name="parameters" element="tns:UserAdministration" />
  </wsdl:message>
  <wsdl:message name="UserAdministrationSoapOut">
    <wsdl:part name="parameters" element="tns:UserAdministrationResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyAdministrationSoapIn">
    <wsdl:part name="parameters" element="tns:CompanyAdministration" />
  </wsdl:message>
  <wsdl:message name="CompanyAdministrationSoapOut">
    <wsdl:part name="parameters" element="tns:CompanyAdministrationResponse" />
  </wsdl:message>
  <wsdl:message name="AUXTableAdministrationSoapIn">
    <wsdl:part name="parameters" element="tns:AUXTableAdministration" />
  </wsdl:message>
  <wsdl:message name="AUXTableAdministrationSoapOut">
    <wsdl:part name="parameters" element="tns:AUXTableAdministrationResponse" />
  </wsdl:message>
  <wsdl:message name="SimpleProductAdministrationSoapIn">
    <wsdl:part name="parameters" element="tns:SimpleProductAdministration" />
  </wsdl:message>
  <wsdl:message name="SimpleProductAdministrationSoapOut">
    <wsdl:part name="parameters" element="tns:SimpleProductAdministrationResponse" />
  </wsdl:message>
  <wsdl:message name="ImportMaterialsFromERPSoapIn">
    <wsdl:part name="parameters" element="tns:ImportMaterialsFromERP" />
  </wsdl:message>
  <wsdl:message name="ImportMaterialsFromERPSoapOut">
    <wsdl:part name="parameters" element="tns:ImportMaterialsFromERPResponse" />
  </wsdl:message>
  <wsdl:message name="UpsertPricebookSoapIn">
    <wsdl:part name="parameters" element="tns:UpsertPricebook" />
  </wsdl:message>
  <wsdl:message name="UpsertPricebookSoapOut">
    <wsdl:part name="parameters" element="tns:UpsertPricebookResponse" />
  </wsdl:message>
  <wsdl:message name="UpsertPricebookWithDistributionChainSoapIn">
    <wsdl:part name="parameters" element="tns:UpsertPricebookWithDistributionChain" />
  </wsdl:message>
  <wsdl:message name="UpsertPricebookWithDistributionChainSoapOut">
    <wsdl:part name="parameters" element="tns:UpsertPricebookWithDistributionChainResponse" />
  </wsdl:message>
  <wsdl:portType name="WsSrvSoap">
    <wsdl:operation name="doUSeeMe">
      <wsdl:input message="tns:doUSeeMeSoapIn" />
      <wsdl:output message="tns:doUSeeMeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAdministration">
      <wsdl:input message="tns:UserAdministrationSoapIn" />
      <wsdl:output message="tns:UserAdministrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompanyAdministration">
      <wsdl:input message="tns:CompanyAdministrationSoapIn" />
      <wsdl:output message="tns:CompanyAdministrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AUXTableAdministration">
      <wsdl:input message="tns:AUXTableAdministrationSoapIn" />
      <wsdl:output message="tns:AUXTableAdministrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SimpleProductAdministration">
      <wsdl:input message="tns:SimpleProductAdministrationSoapIn" />
      <wsdl:output message="tns:SimpleProductAdministrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportMaterialsFromERP">
      <wsdl:input message="tns:ImportMaterialsFromERPSoapIn" />
      <wsdl:output message="tns:ImportMaterialsFromERPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpsertPricebook">
      <wsdl:input message="tns:UpsertPricebookSoapIn" />
      <wsdl:output message="tns:UpsertPricebookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpsertPricebookWithDistributionChain">
      <wsdl:input message="tns:UpsertPricebookWithDistributionChainSoapIn" />
      <wsdl:output message="tns:UpsertPricebookWithDistributionChainSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsSrvSoap" type="tns:WsSrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doUSeeMe">
      <soap:operation soapAction="http://webcominc.com/doUSeeMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAdministration">
      <soap:operation soapAction="http://webcominc.com/UserAdministration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyAdministration">
      <soap:operation soapAction="http://webcominc.com/CompanyAdministration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUXTableAdministration">
      <soap:operation soapAction="http://webcominc.com/AUXTableAdministration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleProductAdministration">
      <soap:operation soapAction="http://webcominc.com/SimpleProductAdministration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportMaterialsFromERP">
      <soap:operation soapAction="http://webcominc.com/ImportMaterialsFromERP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertPricebook">
      <soap:operation soapAction="http://webcominc.com/UpsertPricebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertPricebookWithDistributionChain">
      <soap:operation soapAction="http://webcominc.com/UpsertPricebookWithDistributionChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsSrvSoap12" type="tns:WsSrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doUSeeMe">
      <soap12:operation soapAction="http://webcominc.com/doUSeeMe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAdministration">
      <soap12:operation soapAction="http://webcominc.com/UserAdministration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyAdministration">
      <soap12:operation soapAction="http://webcominc.com/CompanyAdministration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUXTableAdministration">
      <soap12:operation soapAction="http://webcominc.com/AUXTableAdministration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleProductAdministration">
      <soap12:operation soapAction="http://webcominc.com/SimpleProductAdministration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportMaterialsFromERP">
      <soap12:operation soapAction="http://webcominc.com/ImportMaterialsFromERP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertPricebook">
      <soap12:operation soapAction="http://webcominc.com/UpsertPricebook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertPricebookWithDistributionChain">
      <soap12:operation soapAction="http://webcominc.com/UpsertPricebookWithDistributionChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsSrv">
    <wsdl:port name="WsSrvSoap" binding="tns:WsSrvSoap">
      <soap:address location="https://www.webcomcpq.com/wsAPI/wssrv.asmx" />
    </wsdl:port>
    <wsdl:port name="WsSrvSoap12" binding="tns:WsSrvSoap12">
      <soap12:address location="https://www.webcomcpq.com/wsAPI/wssrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>